@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.box {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.box #header {
  width: 100%;
  height: 1.86666667rem;
  background: #4DA0E6;
  display: flex;
  align-items: flex-end;
}
.box #header .head-top {
  width: 100%;
  height: 1.06666667rem;
  display: flex;
  justify-content: space-between;
}
.box #header .head-top .head-left {
  width: 5.86666667rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.box #header .head-top .head-left p {
  font-size: 0.48rem;
  color: #fff;
}
.box #header .head-top .head-right {
  width: 2.13333333rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.box #header .head-top .head-right .wen {
  width: 0.53333333rem;
  height: 0.53333333rem;
}
.box #header .head-top .head-right .wen a {
  display: flex;
}
.box #header .head-top .head-right .sou {
  width: 0.53333333rem;
  height: 0.53333333rem;
}
.box #header .head-top .head-right .sou a {
  display: flex;
}
.box .banner {
  width: 100%;
  height: 4rem;
}
.box .banner #swiper-container1 {
  width: 100%;
  height: 100%;
}
.box .banner #swiper-container1 img {
  width: 100%;
  height: 100%;
}
.box .banner #swiper-container1 .swiper-pagination-bullet {
  background: #fff !important;
  width: 0.16rem !important;
  height: 0.16rem !important;
}
.box .ke {
  width: 100%;
  height: 1.2rem;
  background: #F0F0F0;
  display: flex;
  align-items: center;
}
.box .ke ul {
  width: 100%;
  height: 0.53333333rem;
}
.box .ke ul li {
  width: 33.33%;
  height: 100%;
  border-right: 1px solid #D8D8D8;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .ke ul li a {
  color: #474747;
  font-size: 0.48rem;
}
.box .contain {
  width: 100%;
  height: 9.06666667rem;
}
.box .contain ul {
  width: 100%;
  height: 100%;
}
.box .contain ul li {
  width: 100%;
  height: 33.333%;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  align-items: center;
}
.box .contain ul li .content {
  width: 97%;
  height: 2.18666667rem;
  margin-left: 0.26666667rem;
  display: flex;
  justify-content: space-between;
}
.box .contain ul li .content .con-left {
  width: 3.86666667rem;
  height: 100%;
}
.box .contain ul li .content .con-left img {
  width: 100%;
  height: 100%;
}
.box .contain ul li .content .con-right {
  width: 5.6rem;
  height: 100%;
}
.box .contain ul li .content .con-right p {
  font-size: 0.42666667rem;
  color: #2E2E2E;
  line-height: 1.06666667rem;
}
.box .contain ul li .content .con-right .con-boot {
  width: 70%;
  height: 0.32rem;
  margin-top: 0.53333333rem;
  display: flex;
  justify-content: space-between;
}
.box .contain ul li .content .con-right .con-boot .boot-left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .contain ul li .content .con-right .con-boot .boot-left span {
  color: #979797;
  font-size: 0.32rem;
  margin-left: 0.13333333rem;
}
.box footer {
  width: 100%;
  height: 1.33333333rem;
  margin-top: 0.32rem;
  background: #F8F8F8;
}
.box footer ul {
  width: 100%;
  height: 100%;
}
.box footer ul li {
  width: 33.333%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box footer ul li a {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box footer ul li a .tu {
  width: 1.6rem;
  height: 0.66666667rem;
  display: flex;
  margin-top: 0.13333333rem;
  justify-content: center;
  align-items: center;
}
.box footer ul li a .sy {
  width: 1.6rem;
  height: 0.66666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box footer ul li a .sy .sy-p1 {
  color: #4DA0E6;
  font-size: 0.37333333rem;
}
.box footer ul li a .sy .sy-p2 {
  font-size: 0.37333333rem;
  color: #AEAEAE;
}
