@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.box {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.box #header {
  position: relative;
  width: 100%;
  height: 6.66666667rem;
  background: url(../img/02010905.png) no-repeat;
  background-size: 100% 100%;
}
.box #header .top {
  width: 100%;
  height: 1.33333333rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
}
.box #header .top .top-left {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.26666667rem;
}
.box #header .top .top-left .fanhui {
  width: 0.66666667rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.box #header .top .top-left .fanhui a {
  color: #fff;
  font-size: 0.85333333rem;
  font-family: SimSun;
  /*宋体*/
}
.box #header .top .top-left .sheng {
  width: 4.8rem;
  height: 100%;
}
.box #header .top .top-left .sheng p {
  font-size: 0.58666667rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  /**显示省略号**/
  white-space: nowrap;
  /**不换行**/
  line-height: 1.33333333rem;
}
.box #header .top .top-right {
  width: 35%;
  height: 100%;
}
.box #header .top .top-right ul {
  width: 100%;
  height: 100%;
}
.box #header .top .top-right ul li {
  width: 33.3333%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box #header .top .top-right ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box #header .zhegai {
  width: 100%;
  height: 1.33333333rem;
  background: url(../img/02011048.png);
}
.box #header .tan {
  width: 2.66666667rem;
  height: 2.66666667rem;
  background: #fff;
  position: absolute;
  top: 2.66666667rem;
  left: 3.2rem;
}
.box #header .tan p {
  color: #000;
  font-size: 0.53333333rem;
}
.box #header .cha {
  width: 0.53333333rem;
  height: 0.53333333rem;
  background: #fff;
  position: absolute;
  top: 2.66666667rem;
  left: 5.86666667rem;
}
.box #header .cha p {
  font-size: 0.8rem;
  color: red;
  line-height: 0.32rem;
  text-align: center;
}
.box .mu {
  width: 100%;
  height: 1.2rem;
}
.box .mu ul {
  width: 100%;
  height: 100%;
}
.box .mu ul li {
  width: 33.33%;
  height: 100%;
  float: left;
  background: #F0F0F0;
  position: relative;
  border-bottom: 1px solid #DEDEDE;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #434343;
  font-size: 0.48rem;
}
.box .mu ul li:last-child {
  background: #fff;
  border-bottom: 1px solid #71B0E4;
  color: #79B8EC;
}
.box .mu ul li:after {
  content: '';
  width: 1px;
  height: 0.53333333rem;
  background: #D8D8D8;
  position: absolute;
  top: 0.26666667rem;
  right: 0px;
}
.box .mu ul li:last-child:after {
  content: "";
  display: none;
}
.box .title {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid #E8E8E8;
}
.box .title p {
  color: #333;
  font-size: 0.48rem;
  line-height: 1.2rem;
  text-indent: 1em;
  font-weight: 600;
}
.box .ulk .li {
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 0.4rem;
}
.box .ulk .li .san {
  margin-left: 0.8rem;
  display: inline-block;
}
.box .ulk .li .san img {
  vertical-align: middle;
}
.box .ulk .li #p1 {
  width: 6.66666667rem;
  font-size: 0.42666667rem;
  color: #4DA0E6;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /**显示省略号**/
  white-space: nowrap;
  /**不换行**/
}
.box .ulk .li #i1 {
  font-size: 0.42666667rem;
  color: #4DA0E6;
  display: inline-block;
  font-style: normal;
  float: right;
  margin-top: 0.42666667rem;
}
.box .ulk .li .p2 {
  width: 6.66666667rem;
  font-size: 0.42666667rem;
  color: #666;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /**显示省略号**/
  white-space: nowrap;
  /**不换行**/
}
.box .ulk .li .i2 {
  font-size: 0.42666667rem;
  color: #666;
  display: inline-block;
  font-style: normal;
  float: right;
  margin-top: 0.42666667rem;
}
.box .ulk .li-m {
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 0.4rem;
}
.box .ulk .li-m .sanm {
  margin-left: 0.8rem;
  display: inline-block;
}
.box .ulk .li-m .sanm img {
  vertical-align: middle;
}
.box .ulk .li-m #pm {
  width: 6.66666667rem;
  font-size: 0.42666667rem;
  color: #4DA0E6;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /**显示省略号**/
  white-space: nowrap;
  /**不换行**/
}
.box .ulk .li-m #im {
  font-size: 0.42666667rem;
  color: #4DA0E6;
  display: inline-block;
  font-style: normal;
  float: right;
  margin-top: 0.42666667rem;
}
.box .ulk .li-m .p2m {
  width: 6.66666667rem;
  font-size: 0.42666667rem;
  color: #666;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /**显示省略号**/
  white-space: nowrap;
  /**不换行**/
}
.box .ulk .li-m .i2m {
  font-size: 0.42666667rem;
  color: #666;
  display: inline-block;
  font-style: normal;
  float: right;
  margin-top: 0.42666667rem;
}
.box footer {
  width: 100%;
  height: 1.33333333rem;
  margin-top: 0.32rem;
  background: #F8F8F8;
  position: fixed;
  bottom: 0px;
}
.box footer ul {
  width: 100%;
  height: 100%;
}
.box footer ul li {
  width: 33.333%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box footer ul li a {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box footer ul li a .tu {
  width: 1.6rem;
  height: 0.66666667rem;
  margin-top: 0.13333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box footer ul li a .sy {
  width: 1.6rem;
  height: 0.66666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box footer ul li a .sy .sy-p1 {
  color: #4DA0E6;
  font-size: 0.37333333rem;
}
.box footer ul li a .sy .sy-p2 {
  font-size: 0.37333333rem;
  color: #AEAEAE;
}
.box .kongbai {
  width: 100%;
  height: 1.33333333rem;
}
